<!-- THIS IS A STUPID HACK. NEVER DO THIS AGAIN -->
{{#setLocalsDate}}nothing{{/setLocalsDate}}

<!-- Begin page content -->
<div class="container">
    <div class="page-header col-md-12">
        <a href="/{{#if key}}{{key}}{{/if}}" style="color:#fafbfc;text-decoration: none;" class="col-md-6">
            <img src="/images/NEW-LOGO-BUG-VIDEO.png" width="65px" style="float:left;margin-right:10px;" />
            <h1 style="margin-top:10px;"> Chatroll Monitor</h1>
        </a>
        <div class="col-md-4 pull-right" style="margin-top:15px;">
            <div class="input-group">
                <input type="text" style="border-color:#3B4452" class="search-input form-control" placeholder="Search by CIG Employee.." id="query" name="query" value="">
                <div class="input-group-btn">
                    <button style="padding:9px;" type="submit" class="search-button btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                </div>
            </div>
        </div>
    </div>

    <div class="btn-group col-md-12" style="margin-bottom:15px;" role="group" aria-label="...">
        <a href="/{{#if key}}{{key}}/{{/if}}300" type="button" class="btn btn-default col-md-4">Show 300 Records</a>
        <a href="/{{#if key}}{{key}}/{{/if}}1000" type="button" class="btn btn-default col-md-4">Show 1000 Records</a>
        <a href="/{{#if key}}{{key}}/{{/if}}100000000000" type="button" class="btn btn-default col-md-4">Show All Records</a>
    </div>

    <p style="text-align:center;">This is a list of all the CIG Posts made in the RSI Chat. If you click on the name it will show
        past chats leading up to it for context.</p>

    <div class="panel-group" role="tablist">
        <div class="panel panel-default">
            {{#unless chats.length}}
                <h3 style="text-align: center;">Due to the concern of CIG privacy, we have temporarily disabled this tool
                    until a better solution is made with CIG approval. If you have any questions or concerns please feel free
                    to email us at david@imperialnews.network.</h3>
            {{/unless}}

            {{#each chats}}
                {{#if_eq date}}
                    <h3 style="text-align:center;margin-bottom:15px;">{{#convertDateToDay}}{{date}}{{/convertDateToDay}}</h3>
                {{/if_eq}}

                {{#setLocalsDate}}{{#convertDateToDay}}{{date}}{{/convertDateToDay}}{{/setLocalsDate}}

                <div id="collapseListGroup{{id}}" style="padding-left:15px;" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading{{id}}" aria-expanded="true">
                    <ul class="list-group" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';"
                        style="height:200px; overflow: scroll;">
                    </ul>
                </div>

                <div class="panel-heading" role="button"
                     data-date="{{date}}" data-toggle="collapse" href="#collapseListGroup{{id}}"
                     aria-expanded="false" aria-controls="collapseListGroup{{id}}" id="collapseListGroupHeading{{id}}" >
                    <h4 class="panel-title" data-toggle="tooltip" data-placement="top" title="{{#convertDateToLocal}}{{date}}{{/convertDateToLocal}}">
                        <a class="">
                            <b>{{name}}</b> <span>({{#convertDateToTime}}{{date}}{{/convertDateToTime}})</span>:
                            <span style="font-size:13px;">{{message}}</span>
                        </a>
                    </h4>
                </div>
            {{/each}}
        </div>
    </div>
</div>